* {
    font-weight: bolder;
}
h1,h2,h3{
    font-weight: normal;
}
ul>li {
    color: rgb(201, 207, 241);
    background-color: rgb(204, 204, 50);

}
div + p {
    color: red;

}
div p{
    color: #f79862;
}
.lien {
    text-decoration: none;
    color: red;
}
a:hover {
    color: yellow;
}
h1::first-letter,h2::first-letter,h3::first-letter {
    color:   #c39797;
}  

#super-titre::before {
    content:"@";
    color: #8895c2;
}
#super-titre::after {
    content:"@";
    color: #8895c2 !important;
}
input:checked + label {
    color: cyan;
    background-color: black;
}
#papa :last-child {
    background-color: blueviolet; 

}
#maman :nth-child(2) {
    background-color: red;
}