img{
    margin-bottom: 15px;

}
body { 
    background: no-repeat url(https://img.20mn.fr/6j2p_uHHTBSPl-OJR5iakyk/1200x768_allier_un_deuxieme_chat_tue_par_un_tir_d_arbalete_a_domerat1);
    background-color: pink;
    background-size: cover;
}